
/* ============================================= */
  /*              colors                          */
  /* ============================================= */

$mint: #58e1c1;
$gray: #777;
$blue: #51ddfc;

$success: #63cc82;
$error:#e4757a ;
$warning: #fd7856;
$info: #927bc1;

/* ============================================= */
  /*              MediaQueries                    */
  /* ============================================= */

$break: 768px;

